In [13]:
import pandas as pd

# Define the file path to the dataset
file_path = r'C:\Salary Function\SalaryFunction.csv\Salaryfunction.csv.csv'  
# Load the salary data from the CSV file into a pandas DataFrame
salary_data = pd.read_csv(file_path)

# Display the first few rows of the loaded data to verify successful import
salary_data.head()

C:\Users\erftt\AppData\Local\Temp\ipykernel_10108\2261267672.py:6: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  salary_data = pd.read_csv(file_path)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,Not Provided,326373.19,326373.19,2011

In [14]:
def get_employee_details(employee_name, data):
    employee_details = data[data['EmployeeName'].str.lower() == employee_name.lower()]
    if employee_details.empty:
        return f"No details found for {employee_name}"
    else:
        return employee_details

# Example usage
employee_name = 'GARY JIMENEZ' 
get_employee_details(employee_name, salary_data)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011

In [15]:
# Convert the DataFrame into a dictionary where the key is the employee name
salary_dict = salary_data.set_index('EmployeeName').T.to_dict('list')

# Example usage to get details for a specific employee
employee_name = 'GARY JIMENEZ'  # Replace with an actual employee name
salary_dict.get(employee_name, f"No details found for {employee_name}")

C:\Users\erftt\AppData\Local\Temp\ipykernel_10108\944797232.py:2: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  salary_dict = salary_data.set_index('EmployeeName').T.to_dict('list')

['CAPTAIN III (POLICE DEPARTMENT)',
 155966.02,
 245131.88,
 137811.38,
 'Not Provided',
 538909.28,
 538909.28,
 2011]

In [16]:
def get_employee_details_safe(employee_name, data):
    try:
        if not isinstance(employee_name, str):
            raise ValueError("Employee name must be a string.")
        employee_details = data[data['EmployeeName'].str.lower() == employee_name.lower()]
        if employee_details.empty:
            raise ValueError(f"No details found for {employee_name}")
        return employee_details
    except ValueError as ve:
        return str(ve)
    except Exception as e:
        return f"An unexpected error occurred: {str(e)}"

# Example usage
get_employee_details_safe('GARY JIMENEZ', salary_data)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011

In [17]:
import os
import zipfile

def export_employee_details(employee_name, data, folder_name="Employee Profile"):
    try:
        # Get the employee details
        employee_details = get_employee_details_safe(employee_name, data)
        
        if isinstance(employee_details, pd.DataFrame):
            # Ensure the folder exists
            os.makedirs(folder_name, exist_ok=True)
            
            # Save the details to a CSV file
            file_name = f"{folder_name}/{employee_name}.csv"
            employee_details.to_csv(file_name, index=False)
            
            # Zip the folder
            with zipfile.ZipFile(f'{folder_name}.zip', 'w') as zipf:
                zipf.write(file_name, os.path.basename(file_name))
            
            return f"Employee details exported and zipped successfully."
        else:
            return employee_details
    except Exception as e:
        return f"Failed to export details: {str(e)}"

# Example usage
export_employee_details('GARY JIMENEZ', salary_data)

'Employee details exported and zipped successfully.'